<template>
    <vue-good-table
   :columns="columns"
  :rows="rows"/>
</template>

<script>
export default {
  name: 'my-component',
  data(){
    return {
      columns: [
        {
          label: 'Username',
          field: 'username',
        },
        {
          label: 'Name',
          field: 'name',
        },
        {
          label: 'Surname',
          field: 'surname',
        },
        {
          label: 'Paralell',
          field: 'paralell',
        },
        {
          label: 'Teacher',
          field: 'teacher',
        },
        {
          label: 'First submitted',
          field: 'firstSubmitted',
          type: 'boolean'
        },
        {
          label: '# of submissions in first iteration',
          field: 'subCntFI',
          type: 'number'
        },
        {
          label: 'Second submitted',
          field: 'secondSubmitted',
          type: 'boolean'
        },
        {
          label: '# of submissions in second iteration',
          field: 'subCntSI',
          type: 'number'
        },
        {
          label: 'Third submitted',
          field: 'thirdSubmitted',
          type: 'boolean'
        },
        {
          label: '# of submissions in third iteration',
          field: 'subCntTI',
          type: 'number'
        },
        {
          label: 'Delay of first submission in third iteration',
          field: 'delay',
          type: 'boolean'
        },
        {
          label: 'Email',
          field: 'email',
        },

        
      ],
      rows: [
        { 
          username:"vanicma6",
          name:"Marek",
          surname:"Vanicek",
          paralell: 'Wednesday 14:30 Odd week - Erben',
          teacher: "Erben",
          firstSubmitted: true,
          subCntFI:1,
          secondSubmitted: true,
          subCntSI:1,
          thirdSubmitted: true,
          subCntTI:1,
          delay: false,
          email:"vanicma6@fit.cvut.cz"
        },
           { 
          username:"vanicma6",
          name:"Marek",
          surname:"Vanicek",
          paralell: 'Wednesday 14:30 Odd week - Erben',
          teacher: "Erben",
          firstSubmitted: true,
          subCntFI:1,
          secondSubmitted: true,
          subCntSI:1,
          thirdSubmitted: true,
          subCntTI:1,
          delay: false,
          email:"vanicma6@fit.cvut.cz"
        },
               { 
          username:"vanicma6",
          name:"Marek",
          surname:"Vanicek",
          paralell: 'Wednesday 14:30 Odd week - Erben',
          teacher: "Erben",
          firstSubmitted: true,
          subCntFI:1,
          secondSubmitted: true,
          subCntSI:1,
          thirdSubmitted: true,
          subCntTI:1,
          delay: false,
          email:"vanicma6@fit.cvut.cz"
        },
      ],
      
    };
  },
};
</script>